
.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    color: white;
}

.ring {
    width: 500px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: none;
}

.ring i {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: auto;
    pointer-events: none;
}

.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
    color: #acacac;
    border: 6px solid RED;
    filter: drop-shadow(0 0 20px RED);
}

.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
    color: #acacac;
    border: 6px solid yellow;
    filter: drop-shadow(0 0 20px yellow);
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 10s linear infinite;
    color: #acacac;
    border: 6px solid lime;
    filter: drop-shadow(0 0 20px limme);
}

@keyframes animate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.login h1 {
    margin-bottom: 5 px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;     
}   


.actionButtons {
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 50px;
}

.actionButtons button {
    width: 120px;
    height: 40px;
    background-color: #333333;
}

.actionButtons button:hover {
    background-color: #6200EE;
    color: white;
}

p {
    text-align: center;
    color: white;
}
